<div class="card">
  <div class="card-image">
    <figure class="image">
      <img src="/assets/images/tamago.jpg">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      今日は５月２５日タップダンスの日
    </div>
  </div>
</div>
