<div class="card">
  <div class="card-image">
    <figure class="image">
      <img src="/assets/images/IMG_20180525_172905.jpg">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      {お腹減ったなー}
    </div>
  </div>
</div>
