<div class="card">
  <div class="card-image">
    <figure class="image">
      <img src="/assets/images/IMG_4578.JPG">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      {何か一言}
    </div>
  </div>
</div>
