<div class="card">
  <div class="card-image">
    <figure class="image">
      <img src="/assets/images/zhenya.jpg">
    </figure>
  </div>
  <div class="card-content">
    <div class="content">
      zhenya
    </div>
  </div>
</div>
