<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" prefix="og: http://ogp.me/ns#"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" prefix="og: http://ogp.me/ns#"><!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>PAGE TITLE</title>
  <% include view/_header %>
</head>
<body>

<div class="container">
  <script src="assets/js/app.js" async></script>
  <h1 class="title">4年生</h1>
  <div class="columns">
    <div class="column is-one-quarter">
      <% include view/_cheese %>
    </div>
    <div class="column is-one-quarter">
      <% include view/_mei %>
    </div>
    <div class="column is-one-quarter">
      <% include view/_zhenya %>
    </div>
  </div>
  <h1 class="title">3年生</h1>
  <div class="columns">
    <div class="column is-one-quarter">
      <% include view/_kajiken %>
    </div>
  </div>
  <h1 class="title">2年生</h1>
  <div class="columns">
    <div class="column is-one-quarter">
      <% include view/_milky %>
    </div>
    <div class="column is-one-quarter">
      <% include view/_hanaka %>
    </div>
    <div class="column is-one-quarter">
      <% include view/_minori %>
    </div>
    <div class="column is-one-quarter">
      <% include view/_pansy %>
    </div>
  </div>
  <div class="columns">
    <div class="column is-one-quarter">
      <% include view/_sonyo %>
    </div>
  </div>
  <h1 class="title">1年生</h1>
  <div class="columns">
    <div class="column is-one-quarter">
      <% include view/_Shakurri %>
    </div>
    <div class="column is-one-quarter">
      <% include view/_lagoon %>
    </div>
    <div class="column is-one-quarter">
      <% include view/_touhi %>
    </div>
  </div>
</div>
<style>
  .container {
    padding-top: 40px;
  }
</style>
</body>
</html>
